<h1>Show Option</h1>

<ul>

  <li>
    <strong>Option:</strong>
    <%= @option.option %>
  </li>

  <li>
    <strong>Is asnwer:</strong>
    <%= @option.is_asnwer %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.question_option_path(@conn, :edit,@question_id, @option) %></span>
<span><%= link "Back", to: Routes.question_option_path(@conn, :index,@question_id) %></span>
